.project-container {
  height: 90vh;
  width: 100vw;
  margin-top: 4rem;
}
@media (max-width: 600px) {
  .project-container {
    height: 61vh;
  }
}

.project-container h1 {
  color: rgb(0, 0, 0);
}
/* width */
::-webkit-scrollbar {
  display: none;
}

.project-cards {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  overflow: auto;

  gap: 2rem;
  padding: 20px;
}

.project-card {
  min-width: 20rem;
  min-height: 23rem;
  /* box-shadow: inset 0 0 0 2px rgba(199, 202, 228, 0.425); */
  box-shadow: 0 3px 15px rgba(179, 177, 177, 0.461);

  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.project-card h1 {
  color: rgb(0, 0, 0);
  width: 90%;
  font-size: 1.4rem;
  padding: 3px;
  font-weight: 700;
  margin-top: 0px;
}
.project-card h5 {
  color: rgb(0, 0, 0);
  font-size: 0.95rem;
}
.project-card img {
  width: 90%;
  height: 10rem;
  border-radius: 12px;
}
.desc {
  color: rgb(0, 0, 0);
  font-size: 0.93rem;
  text-align: center;
  padding: 5px;
}
.projectopen {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.projectopen a {
  color: rgb(0, 29, 172);
  text-decoration: none;
  transition: 0.2s all;
}

.projectopen a:hover {
  color: rgb(166, 0, 255);
  text-decoration: underline;
}
.scroll {
  width: 7rem;
  color: rgb(255, 255, 255);
  background-color: black;
  margin: auto;
  padding: 5px;
  border-radius: 24px;
  text-align: center;
  margin-top: 2rem;
}
