.project-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project-head-container{
        color: white;
        h1{
            font-size: 1.8rem;
        }
      .project-head{
        color: yellow;
        font-size: 1.8rem;
      }
    }
    .imageslider{
        width: 80%;
        margin: auto;
        height: 80%;
        display: flex;
      
        

    }

}

.changer{
    background-color: rgb(0, 0, 0 , 0.2);
    width: 5%;
    opacity: 1;
    transition: 0.6s;
}
.changer:hover{
    background-color: rgb(0, 0,0 , 0.3);
}
.project-detail{
    background-color: rgba(8, 118, 121, 0.5);    
    width: 50%;
    margin: auto;
    backdrop-filter: blur(15px);
    height: 7rem;
    border-top-left-radius:24px ;
    border-top-right-radius:24px ;
    position: absolute;
    bottom: 0px;
}
.carousel-indicators{
    button{
        display: none;
    }
}

.projectopen{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    a{
        background-color: rgb(8, 1, 36);
        padding: 4px;
        border-radius: 8px;
        width: 7em;
        color: aqua;
    }
    a:hover{
    color: rgb(0, 255, 0);
    }
}

@media (max-width: 635px) {

  .project-container{
    margin-top: 3rem;
    min-height: 40vh;
    width: 100%;
    .imageslider{
        width: 100%;
     }
    .project-detail{
        width: 80%;
        margin-right: -2rem;
        .projectopen{
            font-size: small;
            width: 100%;
        }
    }
    
  }

 
  }