.skillcard {
  width: 160px;
  height: 150px;
  text-align: center;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  align-items: center;
  box-shadow: 0 3px 15px rgba(179, 177, 177, 0.461);
  border-radius: 12px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.skill_logo img {
  width: 5rem;
  height: 4rem;
  border-radius: 8px;
}
@media (max-width: 435px) {
  .skillcard {
    width: 120px;
    height: 110px;
  }
  .skill_logo img {
    width: 3rem;
    height: 3rem;
  }
}
