html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.sec2box {
  /* background-color: black; */
  background-color: white;
  min-height: 100vh;
  margin-bottom: 3rem;
}
h1 {
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 1.9rem;
}

.abouthead {
  font-weight: 700;
}
.textbox2 {
  color: black;
  width: 80%;
  box-shadow: 0 3px 25px rgba(107, 107, 107, 0.269);

  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  border-radius: 12px;
}
.textbox2 p {
  text-align: center;
  width: 80%;
  font-weight: 500;
  color: black;
}

.edubox {
  width: 100%;
}

.eduhead {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.cardsshell {
  gap: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.educard {
  width: 15rem;
  box-shadow: 0px 5px 20px rgba(165, 165, 165, 0.34);
  padding: 10px;
  border-radius: 8px;
}
/* .educard:nth-of-type(1) {
  background-color: rgb(250, 219, 255);
}
.educard:nth-of-type(2) {
  background-color: rgb(223, 255, 219);
}
.educard:nth-of-type(3) {
  background-color: rgb(219, 255, 253);
} */
.eduh2 {
  text-align: center;
  padding: 4px;
  font-weight: 600;
}

.detailshell {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detailshell div span {
  font-weight: 600;
  color: black;
}

@media (max-width: 750px) {
  .textbox2 {
    width: 95%;
  }
}
