html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.sec2box {
  /* background-color: black; */
  background-color: white;
  color: white;
  min-height: 100vh;
  margin-bottom: 3rem;
}
h1 {
  text-align: center;
  color: black;
  font-weight: 900;
  font-size: 1.9rem;
}

.abouthead {
  color: rgb(16, 236, 0);
  font-weight: 900;
}
.textbox2 {
  color: rgb(0, 0, 0);
  width: 80%;
  box-shadow: 0 3px 25px rgba(107, 107, 107, 0.269);

  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  border-radius: 12px;
}
.textbox2 p {
  text-align: center;
  width: 80%;
  font-weight: 600;
  color: black;
}

.edubox {
  width: 100%;
}

.eduhead {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.cardsshell {
  gap: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.educard {
  width: 15rem;
  box-shadow: 0 3px 10px rgba(190, 188, 188, 0.461);
  padding: 10px;
  border-radius: 12px;
}
.educard:nth-of-type(1) {
  background-color: rgb(250, 219, 255);
}
.educard:nth-of-type(2) {
  background-color: rgb(223, 255, 219);
}
.educard:nth-of-type(3) {
  background-color: rgb(219, 255, 253);
}
.eduh2 {
  text-align: center;
  padding: 4px;
  font-weight: 700;
}

.detailshell {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
