.resumebox {
  box-shadow: 0 3px 25px rgba(107, 107, 107, 0.269);
  padding: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 12px;
  margin-top: 5rem;
}

.download_btn {
  padding: 10px;
  border-radius: 24px;
  background: radial-gradient(rgb(151, 247, 180), rgb(88, 255, 76));
  transition: 0.3s;
  box-shadow: 0 3px 10px rgba(109, 109, 109, 0.5);
  font-weight: 700;
}
.download_btn a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.download_btn:hover {
  cursor: pointer;
  background: radial-gradient(rgb(0, 219, 66), rgb(88, 255, 76));
}
.downloadcv {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
