@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif !important;
}

.body::before {
  content: "";
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.ball1 {
  width: 50px;
  background: radial-gradient(circle at 100px 100px, #ff0000, #f43905);
  height: 50px;
  border-radius: 50%;
}
.ball2 {
  width: 50px;
  background: radial-gradient(circle at 100px 100px, #6f00ff, #ac05f4);
  height: 50px;
  border-radius: 50%;
}
.ball3 {
  width: 50px;
  background: radial-gradient(circle at 100px 100px, #002aff, #055df4);
  height: 50px;
  border-radius: 50%;
}

.text {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  min-height: 400px;
  margin-top: 60px;
  width: 700px;
  backdrop-filter: blur(2px);
  background: transparent;
  box-shadow: 0 3px 25px rgba(107, 107, 107, 0.269);
  border-radius: 1em;
  backdrop-filter: blur(15px);
  background-clip: padding-box;
}

@media (max-width: 740px) {
  .body {
    width: 100%;
  }
  .text {
    width: 95%;
    margin: 4px;
    margin-top: -30px;
  }
  .imagesec1 {
    width: 150px;
    height: 150px;
  }
  .textwrap {
    margin: 20px !important;
  }
}

.sec1part {
  outline: none;
  border: none;
  height: 2px;
}

.textwrap {
  margin-top: 100px;
  margin-left: 100px;
}
.textwrap .first {
  color: rgb(16, 236, 0);
  font-weight: 900;
  font-size: 2em;
}

.textwrap .other {
  font-weight: 900;
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  font-size: 2em;
}
.imagesec1 {
  width: 210px;
  height: 210px;
  z-index: 2;
  background-image: url("../../../public/profile.jpg");
  background-size: cover;
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 50px;
}
.occu {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.field {
  font-size: 1.35rem;
  font-weight: bold;
  /* animation: textwriter 2s linear infinite; */
  transition: 1s all;
}
.words {
  overflow: hidden;
  /* border: 2px solid red !important; */
  padding: 10px;
  height: 33px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(165, 165, 165, 0.32);
  font-weight: 900;
  margin-left: -10px;
}
.words span {
  animation: rotatetxt 12s infinite;
  display: block;
}
.words span:nth-child(1) {
  color: rgb(1, 30, 196);
}
.words span:nth-child(2) {
  color: rgb(255, 0, 0);
}
.words span:nth-child(3) {
  color: rgb(3, 193, 0);
}
.words span:nth-child(4) {
  color: rgb(104, 0, 201);
}
@keyframes rotatetxt {
  25% {
    transform: translateY(-118%);
  }
  30% {
    transform: translateY(-108%);
  }
  50% {
    transform: translateY(-220%);
  }
  55% {
    transform: translateY(-208%);
  }
  75% {
    transform: translateY(-320%);
  }
  80% {
    transform: translateY(-308%);
  }
}

@media (max-width: 660px) {
  .text {
    flex-direction: column;
  }
  .imagesec1 {
    margin-left: 4rem;
    height: 200px;
    width: 200px;
    margin-bottom: 2rem;
  }
  .textwrap {
    margin-left: 80px;
  }
}

.parent {
  position: absolute;
  top: 0;
  width: 100%;

  height: 100%;
  padding-bottom: 5rem;
}

.circle {
  position: absolute;

  transition: transform 6s;
}
