.formbox {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  box-shadow: 0 3px 25px rgba(107, 107, 107, 0.269);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.formbox form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formbox form {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.namediv {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.formbox form input {
  width: 100%;
  outline: none;

  border: none;
  /* border: 1px solid red; */
  border-radius: 12px;

  box-shadow: 0 2px 10px rgb(212, 219, 218);
  padding: 10px;
}
.formbox form textarea {
  /* width: 40rem; */
  outline: none;

  border: none;
  /* border: 1px solid red; */
  border-radius: 12px;

  box-shadow: 0 2px 10px rgb(212, 219, 218);
  padding: 10px;
}
.send_btn {
  width: 7rem !important;
  height: 2rem;
  border-radius: 12px;

  box-shadow: 0 2px 10px rgba(133, 133, 133, 0.6);
  border: none;
  font-weight: 600;
  background-color: #1c55ff;
  color: rgb(255, 255, 255);
  transition: 0.2s all;
}

.contact_text {
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  padding: 4px;
  font-weight: 900;

  border-radius: 4px;
}
textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 4px;
}

@media (max-width: 850px) {
  .formbox form {
    width: 100%;
  }
}
.thankyoumsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thankyoumsg img {
  width: 120px;
  height: 120px;
}
.thankyoumsg .error {
  color: red;
}
.thankyoumsg h3 {
  font-size: medium;
  text-align: center;
  font-weight: 900;
}
.thankyoumsg p {
  text-align: center;
}
@media (max-width: 750px) {
  .formbox {
    width: 95%;
  }
}
