.footer {
  height: 10vh;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -3px 10px rgba(192, 192, 192, 0.521);
  color: rgb(0, 0, 0);
}
.footer h2 {
  font-size: medium;
  font-weight: 800;
}
.footer h2 span {
  color: rgb(255, 98, 7);
}
