.socialbox {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  /* row-gap: -1rem; */
}

@media (max-width: 520px) {
  .socialbox {
    min-height: 50vh;
  }
}
.leftsocial {
  width: 50%;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.leftsocial .socialcard {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
  gap: 1rem;
  height: 10rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  transition: 0.1s all;
  background-color: black;
}

.socialcard:nth-child(1):hover {
  box-shadow: 0 0 15px rgba(46, 4, 253, 0.8);
}
.socialcard:nth-child(2):hover {
  box-shadow: 0 0 15px rgba(255, 136, 0, 0.8);
}
.socialcard:nth-child(3):hover {
  box-shadow: 0 0 15px rgba(252, 255, 238, 0.8);
}
.socialcard:nth-child(4):hover {
  box-shadow: 0 0 15px rgba(43, 255, 0, 0.8);
}
.socialcard:nth-child(5):hover {
  box-shadow: 0 0 15px rgba(153, 0, 255, 0.8);
}
.socialcard a {
  color: aqua;
  cursor: pointer;
  text-decoration: none;
}
.socialcard a:hover {
  color: rgb(47, 255, 61);
}

.socialcard img {
  width: 3rem;
  height: 3rem;
}

.rightsocial {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 725px) {
  .socialbox {
    flex-direction: column;
    height: 70vh;
  }
  .leftsocial {
    margin-right: 0rem;

    width: 100%;
  }
  .rightsocial {
    width: 100%;
  }
}
