.socialbox {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  padding: 20px;
  gap: 2rem;
  border-radius: 12px;
  box-shadow: 0 3px 25px rgba(107, 107, 107, 0.269);

  /* row-gap: -1rem; */
}
.socialbox h1 {
  text-align: center;
}

.leftsocial {
  margin-right: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.leftsocial .socialcard {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 10px;
  width: 12rem;
  box-shadow: 0 3px 15px rgba(113, 113, 113, 0.4);
  transition: 0.1s all;
  background-color: rgb(255, 255, 255);
}

.socialcard a {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  /* border-left: 1px solid gray; */
  background-color: rgb(245, 245, 245);
  border-radius: 12px;
  padding: 4px;
  width: 80%;
  color: rgb(63, 0, 209);
  text-align: center;
}

.socialcard img {
  width: 40px;
  height: 40px;
}
@media (max-width: 750px) {
  .socialbox {
    width: 95%;
  }
  .socialcard {
    width: 100% !important;
  }
}
