.exp-container {
  width: 80%;
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* border: 2px solid white; */
  color: white;
  min-height: 50vh;
  margin-top: 4rem;
  /* background-color: #1f2937; */
}
@media (max-width: 750px) {
  .exp-container {
    width: 95%;
  }
}
.exp-container h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  /* margin-bottom: 2rem; */

  font-size: 1.9rem;
}

.exp-card-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.258);
  border: 2px solid rgba(128, 128, 128, 0.342);

  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}
.exp-card {
  width: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 0.9rem;
  margin: auto;
  color: black;
  text-align: left;
}
.exp-card-head {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  /* width: 6rem; */
  display: block;
}
.exp-card-box:nth-last-of-type(1){
  animation: expcardanimation 5s linear infinite;
}
@keyframes expcardanimation{
  0%{
    border: 2px solid rgba(255, 0, 0, 0.749);
  }
  20%{
    border: 2px solid rgba(0, 64, 255, 0.74);
  }
  50%{
    border: 2px solid rgba(30, 255, 0, 0.852);
  }
  70%{
    border: 2px solid rgba(0, 251, 255, 0.651);
  }
  90%{
    border: 2px solid rgba(255, 0, 242, 0.845);
  }
  100%{
    border: 2px solid rgba(255, 0, 0, 0.749);
  }
  
}