.section3-container {
  width: 100%;
  min-height: 120vh;
}

.section3-container h1 {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.section3-container h1 .skillhead {
  color: yellow;
}

.skills-container {
  width: 80%;
  margin: auto;
  background-color: #1f2937;
  min-height: 70%;
  margin-top: 20px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 20px;
  padding-left: 15px;
  row-gap: 1rem;
  justify-content: center;
  padding: 10px;
  color: aliceblue;
}

@media (max-width: 600px) {
  .skills-container {
    width: 95%;
  }
}
